:root {
	--red: hsl(0, 100%, 74%);
	--green: hsl(154, 59%, 51%);
	--blue: hsl(248, 32%, 49%);
	--dark-blue: hsla(249, 10%, 26%, 0.657);
	--grayish-blue: hsl(246, 25%, 77%);
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Poppins', sans-serif;
}
main {
	background-image: url('../images/bg-intro-desktop.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
}
main::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--red);
	top: 0;
	left: 0;
	z-index: -1;
}
@media (max-width: 991px) {
	main {
		height: 100%;
	}
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	min-height: 97px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}
/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (max-width: 991px) {
	.container {
		flex-direction: column;
		justify-content: space-evenly;
		text-align: center;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1440px;
	}
}
.content {
	flex: 1;
	color: white;
	max-width: 100%;
}
.content h1 {
	font-size: 60px;
}
.content p {
	line-height: 1.7;
	font-size: 20px;
}
@media (max-width: 767px) {
	.content {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.content h1 {
		font-size: 40px;
	}
	.content p {
		line-height: 1.5;
		font-size: 20px;
		letter-spacing: 1px;
	}
}
.form-div {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	flex: 1;
}
.form-head {
	background-color: var(--blue);
	color: white;
	margin-bottom: 30px;
	width: 70%;
	text-align: center;
	padding: 20px 0;
	border-radius: 10px;
	box-shadow: 0 8px 1.5px -2px hsla(249, 10%, 26%, 0.348);
}
@media (max-width: 1200px) {
	.form-head {
		width: 100%;
	}
}
.form-head h3 {
	font-size: 17px;
}
.form-head span {
	font-weight: normal;
	font-size: 14px;
}
form {
	width: 70%;
	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 30px 30px;
	border-radius: 10px;
	box-shadow: 0 8px 1.5px -2px hsla(249, 10%, 26%, 0.268);
}
@media (max-width: 1200px) {
	form {
		width: 100%;
	}
}
form input {
	padding: 10px 20px;
	margin-bottom: 30px;
	border-radius: 6px;
	border: 1px solid #ccc;
}
form input.success {
	border: 2px solid var(--green);
}
form input.error {
	border: 2px solid var(--red);
	margin-bottom: 10px;
}
form .message {
	text-align: right;
	color: var(--red);
	font-weight: 500;
	margin-bottom: 10px;
	margin-right: 10px;
	font-style: italic;
	font-size: 10px;
}
.msg-first {
	display: none;
}
.msg-last {
	display: none;
}
.msg-email {
	display: none;
}
.msg-password {
	display: none;
}
form input:focus {
	outline: none;
}
input[type='submit'] {
	background-color: var(--green);
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: none;
	box-shadow: 0 6px 1.5px -2px rgba(17, 131, 82, 0.69);
	cursor: pointer;
	transition: 0.5s;
	font-weight: 600;
	font-size: 16px;
}
input[type='submit']:hover {
	background-color: hsl(153, 77%, 74%);
	box-shadow: 0 6px 1.5px -2px rgba(17, 131, 82, 0.174);
}
form .terms {
	text-align: center;
	font-size: 10px;
	color: rgb(149, 149, 149);
}
form p span {
	color: var(--red);
	font-weight: bold;
}
